### For testing only

In [3]:
import pandas as pd
import numpy as np
import json

### Datas Acquision

In [4]:
list_of_name = ["Marwan", "Afnan", "Mukhlis", "Anas", "Khalid", "Iskandar", "Affan", "Ali"]

In [5]:
list_of_age = [21, 20, 21, 22, 20, 23, 22, 21]

In [6]:
list_of_job = ['it', 'rnd', 'it', 'eduction', 'libral art', 'islamic', 'it', 'rnd']

In [7]:
in_list = list(zip(list_of_name, list_of_age, list_of_job))

In [8]:
df = pd.DataFrame(in_list,  columns=['Name', 'Age', 'Job'])

In [9]:
df.set_index(['Name'], inplace=True)

In [10]:
df.head()

         Age         Job
Name
Marwan    21          it
Afnan     20         rnd
Mukhlis   21          it
Anas      22    eduction
Khalid    20  libral art

In [11]:
s = df.loc['Marwan']

In [12]:
pd.Series(s)

Age    21
Job    it
Name: Marwan, dtype: object

In [13]:
im = 'Test2.csv'

In [35]:
df1 = pd.read_csv(im, names=['name', 'age', 'job'])

In [36]:
df1.sort_index()

       name  age         job
0      Name  Age         Job
1    Marwan   21          it
2     Afnan   20         rnd
3   Mukhlis   21          it
4      Anas   22    eduction
5    Khalid   20  libral art
6  Iskandar   23     islamic
7     Affan   22          it
8       Ali   21         rnd

In [39]:
df1.age['Marwan']

KeyError: 'Marwan'

In [38]:
df1.dtypes

name    object
age     object
job     object
dtype: object